.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.input-contact{
  margin : 20px !important;
  width: 30%;
}

.contacts-icons{
  cursor: pointer;
}

.contacts-icons-add{
  margin : 20px;
}