.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form {
  margin: 15px !important;
  width: 80%;
}

.submit-back {
  border: solid 1px red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  margin: 20px !important;
  background-color: #e0e0e0 !important;
}

@media screen and (min-width: 650px) {
  .input-form {
    width: 80%;
  }
  .submit-back {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .input-form {
    width: 50%;
  }
  .submit-back {
    width: 50%;
  }
}