header {
  background-color: #329797 !important;
}

span.MuiButton-label > a {
  font-family: 'Raleway';
  text-transform: initial;
  font-size: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  text-decoration: none;
  color: white;
  margin: 6px 10px;
  transition: all 0.1s ease;
  font-size: 16px;
}

.navbar-list {
  flex-grow: 1;
}

.navbar-item:hover {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

.navbar-item.active {
  border-bottom: 2px solid;
  padding-bottom: 4px;
}

.right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dropdown-menu {
  display: flex;
  cursor: pointer;
}

/* Burger menu */
.navbar-burger {
  display:flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #329797;
  z-index: 100;
  transform: translateX(-105%);
  transition: transform 0.4s ease-out;
  text-align: left;
}

.burger-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30px;
  top: 110px;
}

.navbar-burger.open {
  transform: translateX(0);
}

.closing-menu {
  cursor: pointer;
  position: absolute;
  left: 30px;
  top: 20px;
  color: white;
  font-size: 25px;
}

.closing-menu:hover {
  font-size: 30px;
}

.burger-item {
  text-decoration: none;
  color: white;
  margin: 15px 10px;
  transition: all 0.1s ease;
  font-size: 16px;
}

.burger-item:hover {
  padding-bottom: 4px;
  font-size: 20px;
}

.burger-item.active {
  font-size: 20px;
  padding-bottom: 4px;
}

@media screen and (max-width: 850px) {
  #icon-button {
    display: block;
  }
  .navbar-list {
    display: none;
  }
}