header {
  background-color: #329797 !important;
}

span.MuiButton-label > a {
  font-family: 'Raleway';
  text-transform: initial;
  font-size: 1rem;
}

.navbar-item {
  text-decoration: none;
  color: white;
  margin: 6px 10px;
  transition: all 0.1s ease;
  font-size: 16px;
}

.navbar-list {
  flex-grow: 1;
}

.navbar-item:hover {
  border-bottom: 2px solid #f7f1e9ff;
  padding-bottom: 4px;
}

.navbar-item.active {
  border-bottom: 2px solid;
  padding-bottom: 4px;
}

.right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}